


.category_list {
    padding: 25px 25px 25px 25px;
}

.category_list > a {
    display: block;
    font-size: 16px;
    font-weight: 500;

    line-height: 46px;
    color: #007BFF;

    border-bottom: 1px solid #E7E7E7;
}