.post > .section_header > h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.post > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align:justify;
}