.register_page {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form_container {
    width: 25%;
}
 
.form_container > p {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
}

.sign_auth_link {
    color: blue;
    cursor: pointer;
}